<div id="devise-log-in">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", :id => "button" %>
    </div>
  <% end %>

  <div class="confirmation-warning">
    <p>* The confirmation email may have ended up in your "spam" email folder(s) *</p>
    <p>Search within your email for mail from "yardsalenotifications@gmail.com"</p>
    <p>If problems persist, report issues to the admin via the login page</p>
  </div>

  <%= render "devise/shared/links" %>
</div>
