<div id="devise-log-in">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "grid-x" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="cell small-12 medium-6 large-6">

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :user_name %><br />
      <%= f.text_field :user_name%>
    </div>

    <div class="field">
      <%= f.label :zip_code %><br />
      <%= f.text_field :zip_code%>
    </div>

    <div class="field">
      <%= f.label :blurb, "Update your blurb" %>
      <%= f.text_area :blurb %>
    </div>

  </div>

  <div class="cell small-12 medium-6 large-6">

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password, "Edit password" %> <i>(leave these fields blank for no change)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Confirm new password" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field current-password-edit-page">
      <%= f.label :current_password %> <i>(NEEDED to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :profile_photo, "Change your profile picture", :class => "file"%>
      <%= f.file_field :profile_photo %>
    </div>

    <div class="actions">
      <%= f.submit "Update", :id => 'button' %>
    </div>

  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Do you wish to discontinue your Yardsale account? <%= button_to "DELETE ACCOUNT", registration_path(resource_name), data: { confirm: "You cannot recover your account once it has been deleted!\nAre you sure you want to delete your Yarsale account?" }, method: :delete %></p>

</div>
