<!DOCTYPE html>
<html>
<head>
  <title>YardSale</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar grid-x" id="nav">
    <div class="cell small-12 medium-7 large-8">
      <h1><a href="/">YardSale</a></h1>
    </div>
    <div class="cell small-12 medium-5 large-4">
      <section class="top-bar-section">
        <div class="nav-dev-links">
          <ul class="right">
            <%- if current_user -%>
            <li><%= link_to 'My Lawn', "/users/#{current_user.id}"%></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            <%- else -%>
            <li><%= link_to 'Sign In', new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp; or</li>
            <li><%= link_to 'Create An Account', new_user_registration_path %></li>
            <%- end -%>
          </ul>
        </div>
        <%- if current_user -%>
        <div class="profile-thumb">
          <%= link_to image_tag(current_user.profile_photo.url), "/users/#{current_user.id}"%>
        </div>
        <%- end -%>
      </section>
    </div>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>

  <%- if Rails.env.development? || Rails.env.test? -%>
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>

  <%= yield :extra_footer %>
</body>
</html>
